@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.description {
  width: 60vw;
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5rem;
}
.description strong {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.description h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  color: #fbbc17;
}
.description h1::before {
  content: "<";
}
.description h1::after {
  content: "/>";
}
.description p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.foto {
  width: 40vw;
  height: 100vh;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulo {
  width: 20rem;
  height: 20rem;
  background-color: #fbbc17;
  border-radius: 100rem;
  background-image: url(../../assets/img/perfil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
